<div class="container">
  <h3 class="h4 text-success font-weight-bold mb-4">UK Professional Cab Booking Web & App</h3>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <!-- Tabs with icons -->
      <div class="mb-12">
        <small class="text-uppercase font-weight-bold">With icons</small>
      </div>
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="ni ni-cloud-upload-96 mr-2"></i>Why Book With Us?
              </ng-template>
                <ng-template ngbTabContent>
                  <p class="description">Are you looking for an affordable and safe travel solution? Let us help you save money and get a better deal. One of the easiest ways to get quotes from multiple companies and book a fixed-price journey through us online.</p>
                  <p class="description">Booking your cab is fast and easy with our simple service. With many companies in the UK offering cheap cabs and discounted rides, it's great to compare prices and find the best deal possible. Whatever your transport requirements are, or to book a return taxi? cabhit ensures the best rates around for your upcoming trip. We've got the mini-cab prices you need without calling or search for a taxi near you. Let us eliminate the need to visit multiple websites to grab taxi fare. If it's business travel, group bookings or getting around, our airport transfer service provides you with options to get the best cabs & cheapest price. Find the right taxis and lowest fare for comfortable transport. Keep up-to-date with the apps on iPhone and Android.</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="ni ni-bell-55 mr-2"></i> Easy To Find Taxis
              </ng-template>
                <ng-template ngbTabContent>
                    <p class="description">Let us help you & get a list of cheapest taxi & minicab quotes instantly for your ride. We provide cabs with smart, safe, and fast ways to all UK postcodes. With over 70+ companies to choose from, you won't have to go far for great rates!</p>
                    <p class="description">Our British transfer service is one of the most reliable across mainland UK. Get Private hire vehicles, also known as minicabs licensed for advance-booking only. You no longer have to worry about to request your cab to the airport or train station! Additionally, pre-book your cab transfers up to 11 months ahead. Our system calculates the best possible cab quotes. The prices quoted are real-time & pre-set fares, so no guessing. It's our job at cabhit to help you get around now fast. Simple to organise travel or just getting from A to B with cabs and Executive car mini-cabs. Whether you need a single journey or are planning a return trip cabhit taxi cab makes transportation easy. Find quick price on your business transfer with fixed fares Airport Minibus service.</p>
                  </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                  <i class="ni ni-calendar-grid-58 mr-2"></i> Highly-Rated Companies
              </ng-template>
                <ng-template ngbTabContent>
                    <p class="description">As the UK's best site to compare taxis as per your location. Using the website, pre-book your cab more securely online. Get the best quotes from reviewed and best rated private-hire cab companies for any occasion.</p>
                   <p class="description">I have a child seat, booster seat request. How do I inform the taxi company?
                    Our taxi service also provides you with options to get you transfers such as a taxis and car with a child seat, booster seat or are travelling with an infant. Compare reviews and book at the best price. Cabhit is reliable as the executive & trusted drivers include airport and city transfers. For example, To pre-plan your pickup or find taxis and transfer to the other UK airports. Get taxis fast via booking local mini-cab companies now. With a fixed price, use our reliable and safe cab network. Find a taxi quote from the train station to the airport or home. For a cab to your work, or taxis from Hotel, organise your travel today! We offer to book a cab in advance to ensure there are multiple options available.</p>
                  </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
   
  </div>

  
</div>
